CURSOR_PATH="/usr/bin/cursor"

alias cb="xclip -selection clipboard"
alias cursor="$CURSOR_PATH --no-sandbox"
alias v="nvim"
alias docker-start="sudo systemctl start docker"
alias docker-stop="sudo systemctl stop docker"